!!! 5
%html{lang: :en, prefix: "rdfc: https://w3c.github.io/rdf-canon/tests/vocab# mf: http://www.w3.org/2001/sw/DataAccess/tests/test-manifest# rdft: http://www.w3.org/ns/rdftest#"}
  / This file is generated automatciallly from manifest.csv, and should not be edited directly.
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html;charset=utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "stylesheet", type: "text/css", href: "https://www.w3.org/StyleSheets/TR/base"}
    :css
      body {background-image: none;}
      dl.test-detail, dl.test-options {
        padding: 0.5em;
      }
      dl.test-detail>dt, dl.test-options>dt {
        float: left;
        clear: left;
        text-align: right;
        font-weight: bold;
        color: green;
      }
      dl.test-detail>dt:after, dl.test-options>dt:after {content: ": "}
      dl.test-detail>dd, dl.test-options>dd {
        margin: 0 0 0 110px;
        padding: 0 0 0.5em 0;
      }
      dl.test-description>dt {margin-top: 2em;}
      dd {margin-left: 0;}
      dd code {display: inline;}
      footer {text-align: center;}
    %title
      = man['label']
    :css
      em.rfc2119 { 
        text-transform: lowercase;
        font-variant:   small-caps;
        font-style:     normal;
        color:          #900;
      }
      a.testlink {
        color: inherit;
        text-decoration: none;
      }
      a.testlink:hover {
        text-decoration: underline;
      }

  %body{resource: man['id'], typeof: man['type']}
    %p
      %a{href: "http://www.w3.org/"}
        %img{src: "http://www.w3.org/Icons/w3c_home", alt: "W3C", height: 48, width: 72}
    %h1{property: "rdfs:label"}<= man['label']
    %p{property: "rdfs:comment"}<= man['comment']
    :markdown
      This page describes RDF Dataset Canonicalization tests for the RDFC-1.0 profile. These tests are also described in [JSON-LD](manifest.jsonld) and [Turtle](manifest.ttl) formats for convenience. The manifest vocabulary is described in the [RDF Dataset Canonicalization Test Vocabulary](vocab.html) ([JSON-LD](vocab.jsonld), [Turtle](vocab.ttl)) and is based on the [RDF Test Vocabulary](http://www.w3.org/TR/2014/NOTE-rdf11-testcases-20140225/).

      A previous version of this test suite included tests for the URGNA2012 profile, which is non-normative. Those tests continue to be avaliable in the [Credentials Community Group repository](https://w3c-ccg.github.io/rdf-dataset-canonicalization/tests).

      ## General instructions for running the RDF Dataset Canonicalization Test suites

      ### Tests for RDFC-1.0 take input files, specified as N-Quads, and generate Canonical N-Quads output as required by the RDFC-1.0 algorithm.

      The result file is in the N-Quads format.
      The test passes if the result compares identically as the expected result as text files.

      For a negative evaluation test, the test passes if the implementation generates an error due to excessive calls to
      [Hash N-Degree Quads](https://www.w3.org/TR/rdf-canon/#hash-nd-quads-algorithm).

      ### Tests for RDFC-1.0 Issued Identifiers Map.

      The result file is in the JSON format with keys representing
      the blank node identifiers from the test input,
      and values representing the associated canonical identifier
      from the [issued identifiers map](https://www.w3.org/TR/rdf-canon/#dfn-issued-identifiers-map)
      created as an alternate result
      from [Step 7](https://www.w3.org/TR/rdf-canon/#ca.7) of the
      [RDFC1.0 Canonicalization Algorithm](https://www.w3.org/TR/rdf-canon/#canon-algo-algo).
      The test passes if the value of the resulting
      [issued identifiers map](https://www.w3.org/TR/rdf-canon/#dfn-issued-identifiers-map)
      matches the corresponding expected test result that can be loaded via the `result` field of the test.

      Additionally, the keys of the [issued identifiers map](https://www.w3.org/TR/rdf-canon/#dfn-issued-identifiers-map)
      must exactly match the values of the [input blank node identifier map](https://www.w3.org/TR/rdf-canon/#dfn-input-blank-node-identifier-map).
      Note that the keys of the input blank node identifier map represent blank nodes and the specific value is not considered for test purposes.

      ## Contributing Tests
      The test manifests and entries are built automatically from
      [manifest.csv](manifest.csv) using [mk_manifest.rb](mk_manifest.rb),
      where each row defines a combination of Validation tests for the same
      _action_ and implicit files.
      Tests may be contributed via pull request to
      [https://github.com/w3c/rdf-canon](https://github.com/w3c/rdf-canon)
      with suitable changes to the
      [manifest.csv](manifest.csv) and necessary _action_ and _result_ files. 

      ## Distribution
      Distributed under both the
      [W3C Test Suite License](http://www.w3.org/Consortium/Legal/2008/04-testsuite-license)
      and the
      [W3C 3-clause BSD License](http://www.w3.org/Consortium/Legal/2008/03-bsd-license).
      To contribute to a W3C Test Suite, see the
      [policies and contribution forms](http://www.w3.org/2004/10/27-testcases).

      ## Disclaimer
      UNDER BOTH MUTUALLY EXCLUSIVE LICENSES, THIS DOCUMENT AND ALL DOCUMENTS,
      TESTS AND SOFTWARE THAT LINK THIS STATEMENT ARE PROVIDED "AS IS,"
      AND COPYRIGHT HOLDERS MAKE NO REPRESENTATIONS OR WARRANTIES,
      EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO,
      WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
      NON-INFRINGEMENT, OR TITLE;
      THAT THE CONTENTS OF THE DOCUMENT ARE SUITABLE FOR ANY PURPOSE;
      NOR THAT THE IMPLEMENTATION OF SUCH CONTENTS
      WILL NOT INFRINGE ANY THIRD PARTY PATENTS,
      COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.
      COPYRIGHT HOLDERS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL
      OR CONSEQUENTIAL DAMAGES ARISING OUT OF ANY USE OF THE DOCUMENT
      OR THE PERFORMANCE OR IMPLEMENTATION OF THE CONTENTS THEREOF.

    %section
      %h2
        = "#{man['label']} (#{man['entries'].count} entries)"

      %dl.test-description
        - man['entries'].each do |test|
          %dt{id: CGI.escape(test['id'][1..-1])}
            %a.testlink{href: "##{CGI.escape(test['id'][1..-1])}"}
              = "#{test['id'][1..-1]}:"
            %span{about: test['id'], property: "mf:name"}<~test['name']
          %dd{property: "mf:entry", inlist: true, resource: test['id'], typeof: test['type']}
            %div{property: "rdfs:comment"}
              :markdown
                #{test['comment'].to_s.gsub(/(MUST|MUST NOT|SHOULD|SHOULD NOT|MAY)/, '<em class="rfc2119">\\1</em>')}
            %dl.test-detail
              %dt="type"
              %dd<~test['type']
              %dt="approval"
              %dd{property: "mf:approval", resource: test['approval']}<~test['approval']
              - if test['computationalComplexity']
                %dt="computationalComplexity"
                %dd=test['computationalComplexity']
              - if test['action']
                %dt="action"
                %dd
                  %a{property: "mf:action", href: test['action']}<~test['action']
              - if test['result']
                %dt="result"
                %dd
                  %a{property: "mf:result", href: test['result']}<~test['result']

    %footer
      :markdown
        [Copyright](http://www.w3.org/Consortium/Legal/ipr-notice#Copyright) © 2004-2023 [World Wide Web Consortium](https://www.w3.org/). <abbr title="World Wide Web Consortium">W3C</abbr><sup>®</sup> [liability](https://www.w3.org/Consortium/Legal/ipr-notice#Legal_Disclaimer), [trademark](https://www.w3.org/Consortium/Legal/ipr-notice#W3C_Trademarks) and [permissive document license](https://www.w3.org/Consortium/Legal/2015/copyright-software-and-document) rules apply.
